{%- comment -%}
  Generic page template.
{%- endcomment -%}
{% render 'breadcrumbs' %}
<section class="px-page page-width" data-section-id="{{ section.id }}">
  <header class="px-page__header" data-reveal>
    <h1 class="px-page__title">{{ page.title }}</h1>
  </header>
  <div class="px-page__content rte" data-reveal>
    {{ page.content }}
  </div>
</section>

{% schema %}
{
  "name": "Página",
  "tag": "section",
  "settings": []
}
{% endschema %}
